<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="addnum/">
    <table>
        <tr>
            <td>Enter Number 1:</td>
            <td><input type="number" name="num1" /></td>
        </tr>

        <tr>
            <td>Enter Number 2:</td>
            <td><input type="number" name="num2"></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>

</body>
</html>