<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Forms Example</title>
</head>
<body>
<form method="post" action="getData/">
    <table>
        <tr>
            <td>Enter Name</td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td>Enter Your email:</td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td>Enter your phone:</td>
            <td><input type="text" name="phone"></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>